AHPP_lab1/.idea/
AHPP_lab1/Debug/

AHPP_lab2/.idea/
AHPP_lab2/Debug/

AHPP_lab3/.idea/
AHPP_lab3/Debug/

AHPP_lab4/.idea/
AHPP_lab4/Debug/

AHPP_lab5/.idea/
AHPP_lab5/Debug/
AHPP_lab5/bin/

AHPP_lab6/.idea/
AHPP_lab6/Debug/

AHPP_lab7/.idea/
AHPP_lab7/Debug/
AHPP_lab7/test2.jpg
AHPP_lab7/test3.jpeg
AHPP_lab7/test4.jpg

AHPP_lab8/.idea/
AHPP_lab8/Debug/
AHPP_lab8/test2.jpg
AHPP_lab8/test3.jpg
AHPP_lab8/test4.jpg
